*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

@font-face {
	font-family: 'WonderType';
	src: url('https://dl.dropboxusercontent.com/s/rb843g1ul51ikkg/wondertype-regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'ITCKabelStd-Demi';
	src: url('https://dl.dropboxusercontent.com/s/mtnux1kdzejkaoo/ITCKabelStd-Demi.woff') format('woff');
}

@font-face {
    font-family: 'Googi';
    src: url('https://dl.dropboxusercontent.com/s/u9bh5xzfvf6zea7/googi-webfont.woff');
}

@font-face {
    font-family: 'Redaction';
    src: url('https://dl.dropboxusercontent.com/s/noopbz2tn1x0s5a/Redaction_50-Bold.woff2');
}

header nav ul{
    font-family: 'Redaction', sans-serif;
    font-weight: 900;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav ul li a{
    color: black;
    padding: 15px;
}

div h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'WonderType', sans-serif;
    font-weight: bold;
}

div h2 {
    font-family: 'Redaction', sans-serif;
    font-size: 2rem;
    color: white;
}

div p {
    font-family: 'Arimo', sans-serif;
    background-color: white;
    color: black;
}

div h2 span {
    background-color: black;
}

nav {
    padding-top: 15px;
}

.text_index {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 70px auto;
    grid-template-areas: 
    "title title"
    "info img"
    ;
    min-height: 750px;
    max-width: 700px;
    min-width: 600px;
    border: solid 3px;
    margin: 0 auto;
}

.text_index_title {
    color: white;
    grid-area: title;
    background-color: black;
}

.img_index {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    grid-area: img;
}

.info {
    grid-area: info;
}

.info div {
    padding: 10px;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .col-md-6{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 300px) and (max-width: 991.98px) {
    .col-md-6{
        width: 100%;
    }
}

@media only screen and (max-width:475px){
    nav{
        padding: 0.5rem 2rem;
    }
    .navitems{
        flex-flow: column nowrap;
        display: flex;
        align-items: center;
    }
    .text_index{
        min-height: 750px;
        max-width: 300px;
        min-width: 350px;
    }
}

.col-md-4 {
    max-width: 250px;
}

.col-md-6 {
    max-width: 500px;
}

.col-md-1 {
    padding: 15px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid black; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

label {
    font-family: 'Redaction', sans-serif;
}

footer a {
    font-family: 'ITCKabelStd-Demi', sans-serif;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}