/* Error: Only 3 arguments allowed, but 4 were passed.
 *   ,--> scss\componentes\_index.scss
 * 80|         @include h2('Redaction', sans-serif, white, 2rem);    
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> scss\base\_mixin.scss
 * 1 | @mixin h2 ($f-family, $color, $f-size) {
 *   |        =============================== declaration
 *   '
 *   scss\componentes\_index.scss 80:3  h2()
 *   scss\componentes\_index.scss 80:3  @import
 *   scss\style.scss 7:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 3 arguments allowed, but 4 were passed.\a   \250c \2500 \2500 > scss\\componentes\\_index.scss\a 80\2502          @include h2('Redaction', sans-serif, white, 2rem);    \d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > scss\\base\\_mixin.scss\a 1 \2502  @mixin h2 ($f-family, $color, $f-size) {\d\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   scss\\componentes\\_index.scss 80:3  h2()\a   scss\\componentes\\_index.scss 80:3  @import\a   scss\\style.scss 7:9                root stylesheet";
}
