<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dibujos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="./dibujos.html">Dibujos</a>
            </li>
            <li>
                <a href="./fanzines.html">Fanzines</a>
            </li>
            <li>
                <a href="./favs.html">Favoritos</a>
            </li>
            <li>
                <a href="./contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
</header>

<section class="art_display">
    <h1 class="art_display_title">dibujos</h1>
    <img class="gif_dibujos_title" src="../assets/gifs/draw.gif" alt="Gif dibujo">
    <img class="gif_dibujos_title_2" src="../assets/gifs/draw.gif" alt="Gif dibujo">
    <img class="img_dibujos" src="../assets/img/jalowin.png" alt="Chico espiando a chica abrazando una calavera">
    <img class="img_dibujos" src="../assets/img/nopuedo.png" alt="Personas mal dibujadas de distintos colores, sufriendo">
    <img class="img_dibujos" src="../assets/img/retratodistorsionado.png" alt="Retrato distorsionado en el espejo">
    <img class="img_dibujos" src="../assets/img/spookyseason.png" alt="Chica sin brazos">
</section>

<footer>
    <a href="https://www.instagram.com/segachenesis/">instagram</a>
</footer>
</body>
</html>