<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@700&display=swap" rel="stylesheet">
    <title>Fanzines</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="./dibujos.html">Dibujos</a>
                </li>
                <li>
                    <a href="./fanzines.html">Fanzines</a>
                </li>
                <li>
                    <a href="./favs.html">Favoritos</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <section class="fanzine_display">
        <h1 class="fanzine_title">fanzines</h1>
        <img class="fanzine_gif" src="../assets/gifs/book3.gif" alt="Gif libro">
        <img class="fanzine_gif_2" src="../assets/gifs/book3.gif" alt="Gif libro">
        <img class="fanzine_cover" src="../assets/img/fanzine1.jpg" alt="Tapa de mi primer fanzine">
        <img class="fanzine_cover" src="../assets/img/estereotipos.jpg" alt="Tapa de mi fanzine Estereotipos">
    </section>
    
    <footer>
        <a href="https://www.instagram.com/segachenesis/">instagram</a>
    </footer>
</body>
</html>