<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Cómics, películas y música que le gusta a segachenesis">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="./assets/img/icons8-star-filled-16.png"
    />
    <title>Favoritos</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navitems">
          <li>
            <a href="../index.html">Home</a>
          </li>
          <li>
            <a href="./dibujos.html">Dibujos</a>
          </li>
          <li>
            <a href="./fanzines.html">Fanzines</a>
          </li>
          <li>
            <a href="./favs.html">Favoritos</a>
          </li>
          <li>
            <a href="./contacto.html">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container-fluid">
    <div class="row justify-content-around">
      <h1 class="col-sm-4 col-md-4">favoritos</h1>
    </div>
    <div class="row justify-content-center">
      <h2 class="col-sm-1 col-md-1"><span>películas</span></h2>
    </div>
    <div class="row justify-content-center">
        <img
          class="col-md-4"
          src="../assets/img/chungkingexpress.jpg"
          alt="Poster de la película Chungking Express de Wong kar Wai"
        />
        <img
          class="col-md-4"
          src="../assets/img/loveexposure.jpg"
          alt="Poster de la película Love Exposure de Sion Sono"
        />
        <img
          class="col-md-4"
          src="../assets/img/laurenceanyways.jpg"
          alt="Poster de la película Laurence Anyways de Xavier Dolan"
        />
        <img
          class="col-md-4"
          src="../assets/img/tokyogodfathers.jpg"
          alt="Poster de la película
        Tokyo Godfathers de Satoshi Kon"
        />
      </div>
    </div>

    <div class="row justify-content-center">
      <h2 class="col-sm-1 col-md-1"><span>cómics</span></h2>
    </div>
      <div class="row justify-content-center">
        <img
          class="col-md-4"
          src="../assets/img/ghostworld.jpg"
          alt="Tapa del cómic Ghost World de Daniel Clowes"
        />
        <img
          class="col-md-4"
          src="../assets/img/mylesbianexperiencewloneliness.jpg"
          alt="Tapa del manga My Lesbian Experience with Loneliness de Nagata Kabi"
        />
        <img
          class="col-md-4"
          src="../assets/img/skiptoloafer.jpg"
          alt="Tapa del manga Skip to Loafer de Misaki Takamatsu"
        />
        <img
          class="col-md-4"
          src="../assets/img/dirtyplotte.jpg"
          alt="Tapa del cómic Dirty Plotte de Julie Deucet"
        />
      </div>

    <div class="row justify-content-center">
      <h2 class="col-sm-1 col-md-1"><span>música</span></h2>
    </div>
      <div class="row justify-content-center">
        <img
          class="col-md-4"
          src="../assets/img/fashionnugget.jpg"
          alt="Tapa del álbum Fashion Nugget de Cake"
        />
        <img
          class="col-md-4"
          src="../assets/img/kalksamenkurinohana.jpg"
          alt="Tapa del álbum Kalk Samen Kuri no Hana de Sheena Ringo"
        />
        <img
          class="col-md-4"
          src="../assets/img/midori.jpg"
          alt="Tapa del álbum Aratamemashite, hajimemashite, Midori desu de Midori"
        />
        <img
          class="col-md-4"
          src="../assets/img/YoshimiBattlesThePinkRobots.jpg"
          alt="Tapa del álbum Yoshimi Battles the Pink Robots de The Flaming Lips"
        />
      </div>
    </div>

    <footer>
      <a href="https://www.instagram.com/segachenesis/">instagram</a>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
